<!--<h1>
  {{title}}
</h1>-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded"style="background-color: #e3f2fd;">
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>-->
        <a class="navbar-brand" routerLink="/payment">Receive Payment</a>
    <a class="navbar-brand" routerLink="/classes">Classes</a>
</nav>
<br>
<br>


<router-outlet></router-outlet>